:root {
  color-scheme: dark light
}

html {
    height: 100%;
    position: relative;
}

body {
  /*Disable highlighting*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Modern browsers (Chrome, Edge, Firefox, Opera) */
  overflow: hidden; 
  margin: 0;
  padding: 0;
}


#openingScreen {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 1000px; 
  min-width: auto;
  max-height: 100%;
  max-width: auto;
  margin: 0;
  background-image: url("matchcafescreen1.png");
  background-size: cover;
  overflow: hidden; 

}

#loadScreen {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 1000px; 
  min-width: auto;
  max-height: 100%;
  max-width: auto;
  margin: 0;
  background-color: black;
  overflow: hidden; 
}

@font-face {
  font-family: "ShortStack";
  src: url(ShortStack-Regular.ttf);
}

#highScoreDisplay {
  color:#ffffff;
  font-family: 'ShortStack';
} 



#musicButton {
  width: 20vh;
  position: fixed;
  display: flex;
  left: 10%;
  top: 30%;
}

#musicButton:hover {
    transform: scale(1.1);
}

#soundButton {
  width: 20vh;
  position: fixed;
  display: flex;
  left: 20%;
  top: 27.5%;
}

#soundButton:hover {
    transform: scale(1.1);
}

.playButtons:hover {
  transform: scale(1.1);
}

.screenButtons:hover {
  transform: scale(1.1);
}
#outerDiv {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 100px; 
  min-width: auto;
  max-height: 80vh;
  max-width: 1000vh;
  margin: 0;
  padding-top: 10px;   
}

#pointsDiv {
  display: block;
  position: fixed;
  margin: 0;
  top: 90%;
}

#headerDiv {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

#titleMem {
  font-size: 30px;
}

#countdownTimer {
  position: fixed;
  font-size: 30px;
  right: 10%;
}

#gameScreen{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 1000px; 
  min-width: auto;
  max-height: 100%;
  max-width: auto;
  margin: 0;
  overflow: hidden; 
  background-image: url("screen2.png");
  background-size: cover;
}

.gameGrid {
  display: grid;
  min-height: 50%;
  width: 70%;
  max-width: 100%;
  max-height: 60vh;
  grid-template-columns: repeat(6, 5fr); 
  gap: 2%; 
  box-sizing: border-box;
}

#goBackButton {
  display: block;
  position: fixed;
  margin: 0;
  left: 30%;
  top: 93%;
}

.card-in-grid{
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  min-height: auto;
  width: 100%;
  aspect-ratio: 1/1.4;
  color: white;
  text-align: center;
  box-sizing: border-box;
  justify-content: center; 
  align-items: center;   
  box-shadow: 0 2px 10px  rgb(40, 34, 34);

}

.card-flip {
  animation: cardFlip .2s ease-out;
  transform-style: preserve-3d;
}

.card-flip-over {
  animation: cardFlipover .2s;
  transform-style: preserve-3d;
}

@keyframes cardFlip {
  90% {transform: rotateY(90deg)};
}



.backSize {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  -webkit-user-drag: none;
}

#endScreen {
  /*
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 100px; 
  min-width: auto;
  max-height: 80vh;
  max-width: 1000vh;
  margin: 0;*/


  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 1000px; 
  min-width: auto;
  max-height: 100%;
  max-width: auto;
  margin: 0;
  background-image: url("gameOverbackground.png");
  background-size: cover;
  overflow: hidden; 
}


.screenButtons{
  position: absolute;
}

#endScoreShow {
  position: absolute;
  font-style: oblique;
  color: #ece3e3;
  top: 33%;
  right: 47%;
  transform: rotate(1deg);
  font-family: "ShortStack";
  font-size: 50px;
  padding-right: 0.2em; 
  padding-left: 0.2em;
}

#newHighScore {
  transform: rotate(1deg);
  position: absolute;
  color:#f0efe7;
  top: 43%;
  right: 42%;
  font-family: "ShortStack";
  font-size: 30px;
}

#donationButton {
  right: 24%;
  top: 67%;
}

#goHomeEnd{
  top: 50%;
}

#chalkdiv {
  position: absolute;
  background-color: aliceblue;
  clip-path: polygon(20% 20%, 80% 20%, 100% 100%, 0% 100%);
  height: 100%;
  width: 100%;
}